EXPO_PUBLIC_API_PROTOCOL=http
EXPO_PUBLIC_API_DOMAIN=api.rototec.com.gt
EXPO_PUBLIC_API_PORT=3001
EXPO_PUBLIC_API_BASE_PATH=api
EXPO_PUBLIC_API_VERSION=v2
EXPO_PUBLIC_CALIDAD_PREFIX=production/calidad
